@media (min-width: 850px) {
  body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #logo {
    margin: 0;
    margin-bottom: 2.5em;
  }
  .container {
    display: flex;
    max-width: 80%;
    gap: 2em;
    border-radius: 10px;
  }

  .tip {
    span {
      width: 30%;
    }
    #custom-tip {
      width: 30%;
    }
  }
  .calc {
    flex: 1;
  }
  .results {
    flex: 1;
    button {
      margin-top: 5rem;
    }
  }
}
